
html body ul li {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "nyt-cheltenham";
  font-display: swap;
  src: url("https://g1.nyt.com/fonts/family/cheltenham/cheltenham-italic-700.d53eaf3b784c4b50d1c331e1278cda67.woff") format("woff");
}

@font-face {
  font-family: "nyt-franklin";
  src: url("https://g1.nyt.com/fonts/family/franklin/franklin-normal-700.a192db310935d8a882832e2cc83f2119.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "nyt-franklin";
  src: url("https://g1.nyt.com/fonts/family/franklin/franklin-normal-500.d6c06a3d84a57100edad5bf9b84ff739.woff2") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "nyt-imperial";
  src: url("https://g1.nyt.com/fonts/family/imperial/imperial-normal-400.2531995fefd3b997f9c4d564ebe89268.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.top-menubar {
  background-color: #fff;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: solid 1px #ccc;
  padding-top: 5px;
  z-index: 2000;
}

.menu {
  display: block;
  margin: 4px 10px 4px;
}

.search {
  display: block;
  font-size: 0.3em;
  margin: 4px 10px 4px;
}

.title {
  display: inline-block;
  font-size: 0.8em;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
  margin: 4px 10px 4px;
  margin-top: 8px;
}

.subscribe-content {
  width: 250px;
}

.subscribe {
  background: rgb(86, 123, 149);
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 12px 8px;
  vertical-align: middle;
}

.top-left-buttons {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 250px;
}

.main_article {
  max-width: 600px;
  margin: 20px auto;
}

.socials ul {
  padding: 0;
  width: 150px;
  float: right;
}

.socials3 {
  display: flex;
  width: 80px;
  margin-top: 20px;
}

.socials ul li {
  list-style: none;
  display: inline-block;
  background-color: gainsboro;
  padding: 5px;
  margin: 5px;
  border-radius: 100%;
  width: 13px;
  height: 13px;
}

.socials span {
  vertical-align: top;
  display: inline-block;
  justify-content: space-between;
}

.socials3 #bookmark-icon {
  width: 13px;
  height: 17px;
}

.socials3 .messages {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRz-CbDz1uJKbYMkSzGXG6nOhOkZ5n6qXVq0YVVGTueWcfZUww_&usqp=CAU");
  background-size: 100% 100%;
  vertical-align: text-bottom;
  margin-left: 15px;
}

.socials ul div label {
  vertical-align: -moz-middle-with-baseline;
  font-size: 9px;
  padding: 7px;
  font-family: helvetica, arial, sans-serif;
}

.socials ul div {
  background-color: white;
}

.main_heading h1 {
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  font-size: 3vw;
  font-weight: 500;
}

.main_heading {
  width: 80%;
  margin: auto;
}

.main_content {
  width: 75%;
  margin: 80px auto;
}

.main_image {
  margin-bottom: 60px;
}

.main_image img {
  width: 100%;
}

.main_image figcaption {
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 2.1vh;
  color: dimgray;
  width: 80%;
}

.list-of-stories span {
  color: rgb(18, 18, 18);
  display: block;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 22px;
}

.main_image caption span {
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 2vh;
  width: 60%;
  color: gray;
}

.date_socials {
  display: flex;
}

.date_socials #date {
  margin-top: 15px;
  margin-right: 190px;
}

.main_article .author #by-line {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
}

.main_article .date_socials #date {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 500;
  font-size: 1vw;
}

.editor-item p {
  padding: 10px;
  font-size: 0.9em;
}

.callout p {
  background-color: green;
  display: block;
  width: 50px;
  height: 1px;
  margin: auto;
}

.main_article .article p {
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 1.25rem;
  line-height: 1.9rem;
}

.description {
  width: 80%;
  margin: 70px auto;
}

.description .grid-container {
  background-image: url("https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-945.png");
  background-size: 100% 100%;
  display: grid;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.9vw;
  grid-gap: 10px 10px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  height: 630px;
  line-height: 1.2vw;
  margin: 80px auto;
  width: 1000px;
}

.grid-container .grid-item-1a {
  grid-column-end: 1;
  grid-column-start: 1;
  grid-row-end: 1;
  grid-row-start: 1;
}

.grid-container .grid-item-1 {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 1;
}

.grid-container .grid-item-2a {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 2;
}

.grid-container .grid-item-2 {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
}

.grid-container .grid-item-3 {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 3;
}

.grid-container .grid-item-4 {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 4;
}

.grid-container .grid-item-5 {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 1;
}

.grid-container .grid-item-6 {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 2;
}

.space-astronomy {
  display: flex;
  min-height: 500px;
  width: 100%;
}

.stories {
  width: 70%;
}

.sidebar {
  float: right;
  width: 30%;
  min-height: 500px;
  color: rgb(18, 18, 18);
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 1.125rem;
  font-weight: 500;
}

.space-astronomy-container {
  margin: auto;
  width: 90%;
}

.list-of-stories {
  float: left;
  margin: 0;
  padding: 5px;
  width: 30%;
}

a {
  text-decoration: none;
  color: #0000;
}

.date-day {
  color: #888;
  display: block;
  font-size: 0.6em;
  text-align: left;
}

.tiny {
  color: #888;
  display: block;
  font-size: 0.4em;
  text-align: right;
}

.end_icons .comments_socials .read_comments {
  background: rgb(86, 123, 149);
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  margin-right: 180px;
  margin-top: 15px;
  padding: 12px 60px 12px;
  vertical-align: middle;
}

.end_icons .comments_socials {
  display: flex;
}

.socials2 ul {
  padding: 0;
  width: 150px;
  float: right;
}

.socials2 ul li {
  border-radius: 100%;
  display: inline-block;
  height: 13px;
  list-style: none;
  margin: 5px;
  padding: 5px;
  width: 13px;
}

.list-of-stories img {
  padding: 0;
  margin: 0;
  width: 100%;
}

.main_article .article span {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.9vw;
}

.footer-top-links li:hover {
  text-decoration: underline;
  color: rgb(86, 123, 149);
  cursor: pointer;
}

.footer_bottom {
  background-color: #fff;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 2000;
}

.footer .footer_bottom ul li {
  display: inline-block;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 0.7rem;
  list-style: none;
  padding: 10px;
  text-decoration: none;
}

.footer .footer_bottom ul li a {
  color: gray;
  text-decoration: none;
}

.footer .footer_bottom {
  border-color: gray;
  border-top: solid;
  border-width: 0.3px;
  margin-top: 10px;
  text-align: center;
}

.footer .footer-top-links .footer-subscribe {
  border-left: solid;
  border-color: #b9b9b9;
  border-width: 0.5px;
  border-spacing: 10px;
  padding-left: 18px;
}

.footer-subscribe .footer-small-menu-2 {
  border-color: #b9b9b9;
  border-spacing: 10px;
  border-top: solid;
  border-width: 0.5px;
  padding-top: 10px;
}

.footer-subscribe .footer-small-menu {
  padding-bottom: 10px;
  padding-top: 10px;
}

.footer-subscribe .footer-icon-menu {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 900;
}

.footer-subscribe ul {
  padding-left: 0;
}

.footer-top-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  font-size: 0.8rem;
  line-height: 1.5rem;
  font-family: 'Libre Franklin', sans-serif;
}

.editor-pick h3 {
  border-bottom: solid 1px #999;
  padding-bottom: 20px;
  font-size: 0.9em;
}

.space-astronomy-container .sidebar p {
  border-top: solid 1px #ccc;
  padding: 12px 10px;
}

.space-astronomy-container .sidebar h4 {
  font-family: 'Libre Franklin', sans-serif;
}

.space-astronomy-container .stories h4 {
  font-family: 'Libre Franklin', sans-serif;
}

.footer .footer-top-links ul li {
  font-family: 'Libre Franklin', sans-serif;
  list-style: none;
}

.footer-top-header {
  border-color: #b9b9b9;
  border-top-style: double;
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  padding: 10px 0;
}

.footer-top-header .go-to-home-page span {
  color: rgb(86, 123, 149);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.8rem;
  vertical-align: middle;
}

.callout strong {
  display: block;
  text-align: center;
}

.callout-main {
  padding: 20px;
}

.colored {
  color: rgb(86, 123, 149);
}

.editor-item {
  display: flex;
}

.editor-item img {
  display: block;
  margin: 9px;
  height: 70px;
}

.editor-pick {
  position: absolute;
  width: 270px;
  height: 600px;
  right: 14px;
  top: 1790px;
  padding-right: 12px;
}

.doubled {
  padding-top: 51px;
}

.border-top {
  border-top: solid 1.8px #999;
}
