html,body{
  margin:0px;
  padding: 0px;
}
body{

  font-family: nyt-franklin,helvetica,arial,sans-serif;
}

.main-logo img {

}

.top-menubar {
position: absolute;
justify-content: space-between;
align-items: flex-start;
top:0px;
left:0px;
width:100%;
border-bottom: solid 1px #ccc;
display: flex;

padding-top: 5px;
}

.top-left-buttons {
    width: 250px;
}

.menu {
  display: block;
  margin: 4px 10px 4px;
}

.search {
  display: block;
  font-size: 0.3em;
  margin: 4px 10px 4px;

}

.title {
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  margin: 4px 10px 4px;
  margin-top: 8px;

}

.subscribe-content {
  width: 250px;
}

.subscribe {
background: rgb(86, 123, 149);
border:none;
border-radius: 3px;
color:#fff;
cursor: pointer;
font-weight: bold;
padding: 8px 12px 8px;
vertical-align: middle;
}


.account {
  cursor: pointer;
  background: none;
  color:#666;
  height: 30px;
  padding: 4px;
  border:none;
  border-radius: 2px;
}

.account-span {
  display: inline-block;
  width: 90px;
  margin-left: 6px;
  font-size: 0.8em;
  text-align: center;
}

.account-span .material-icons {
  font-size: 0.9em;
}

.down-arrow {
  font-size: 0.6em;
}

.top-left-buttons {

  display: flex;
  align-content: center;
  justify-content: center;
}

.top-menubar .material-icons {
  font-size: 20px;

}


.main_content{
  width: 80%;
  margin: 100px auto;
}

.main_image {
  margin-bottom: 60px;
}

.main_article {
  max-width: 600px;
  margin: 20px auto;

}

.main_image img {
  width: 100%;
}

.socials ul {
  padding: 0px;
  width: 210px;
  float: right;
}

.socials ul li {
  list-style: none;
  display: inline-block;

}

.date {
  padding: 20px 2px;
  float:left;
  width:30%;
  font-weight: normal;
  font-size:0.8em;
}

.socials{
text-align: right;

  display: inline-block;
  float: right;
  width: 69%;}

.clear-both {
  clear:both;
}



.socials fa {
  text-align: center;
  padding-top: 5px;
}

.rounded {
  text-align: center;
  line-height: 30px;
  display:block;
  background-color: #ccc;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.award {
  text-align: center;
  line-height: 30px;
  display:block;
 font-style: 2em;
  height: 30px;
  width: 30px;

}

.message{
  vertical-align: text-bottom;
  text-align: center;
  line-height: 30px;
  display:block;
  font-size:2.0em;
  height: 30px;
  width: 30px;
  position: relative;;
}
.award .fa-bookmark-o {
    font-size:1.2em;
}
.message .material-icons{
    margin-top:7px;
    font-size: 1.0em;
    width:35px;
}
.message span {
font-size: 0.2em;
position: absolute;
top:4px;
right: 5px;
 }

 .article_image {
  width: 100%;
 }

 .theory {
  background-image url(https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-945.png);
  background-position: ;
  background-repeat: no-repeat;

}

.theory_row1{
  display: flex;
}

.description {
  width: 100%;
   margin: 10px auto;
}

.description .grid-container{
<<<<<<< HEAD
   padding: 0px;
   margin: 0px;
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   grid-template-rows:auto;
   margin: 3px auto;
   background-size: 100% 100%;
   height: auto;
   width: 80%;

}
.description {
font-size: 0.8em;
}


.grid-item {
padding: 3px;

}
=======
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    width: 75%;
    margin: 80px auto;
    background-image: url("https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-945.png");
    background-size: 100% 100%;
    height: 630px;
    width: 1000px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 0.9vw;
    line-height: 1.2vw;

 }

 .grid-container .grid-item-1a {
   
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
 }

 .grid-container .grid-item-1 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
 }

 .grid-container .grid-item-2a {
    
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
 }
 .grid-container .grid-item-2 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
 }


 .grid-container .grid-item-3 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
 }

 .grid-container .grid-item-4 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 4;
 }

 .grid-container .grid-item-5 {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
 }

 .grid-container .grid-item-6 {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 2;
 }

 .grid-container .grid-item-7 {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 3;
 }

 .grid-container .grid-item-8 {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 4;
 }
>>>>>>> 1ea377cef02efc2806d00d7b26435fecdeb374c2
